h1 {
    size: 32px;
    margin-bottom: 10px;
    color: #B8DBD9;
}

body {
    font-family: Helvetica, sans-serif;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
} 

#content{
    background-color: #2A363C;
    margin-left: 15%;
    margin-right: 15%;
    z-index: 1;
    padding:3%;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    color: #F4F4F9;
}

a {
    color:#B8DBD9;
}

h2 {
    size: 24;
    color: #B8DBD9;
}

#ie{
    margin:auto;  
    width: 75%;
}